@import "utilities/variables";
@import "utilities/mixins";

:host {
  .hotels {
    padding: 8rem 0;
    min-height: calc(100vh - 80px);

    &__container {
      padding-top: 3.7rem;

      @include respond(desktop) {
        margin-top: 5rem;
      }
    }

    &__container-box {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 1.6rem;
      justify-items: center;
      padding-bottom: 1.6rem;

      @include respond(tab) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-bottom: 5rem;
      }
      @include respond(desktop) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        padding-bottom: 5rem;
      }
    }
  }
}
