<div class="contact">
  <div class="main-container">
    <div class="contact__container flex flex-col">
      <div class="contact__infos flex flex-col">
        <div class="contact__headings">
          <h2 class="contact-big-heading">
            {{ "CONTACT.TITLE" | translate }}
          </h2>
          <p class="contact-heading-1">
            {{ "CONTACT.UNDERTITLE" | translate }}
          </p>
        </div>

        <div class="contact__address flex flex-col">
          <li class="flex items-center">
            <img src="assets/icons/icones/map-pin.svg" alt="map" />
            <h2 class="contact-heading-3">{{ "CONTACT.LOCAL" | translate }}</h2>
          </li>
          <li class="flex items-center">
            <img src="assets/icons/icones/mail 2.svg" alt="mail" />
            <h2 class="contact-heading-3">{{ "CONTACT.MAIL" | translate }}</h2>
          </li>
          <li class="flex items-center">
            <img src="assets/icons/icones/phone (1).svg" alt="phone" />
            <h2 class="contact-heading-3">{{ "CONTACT.PHONE" | translate }}</h2>
          </li>
        </div>

        <div class="contact__social flex flex-col">
          <h2 class="contact-heading-2">
            {{ "CONTACT.SOCIALMEDIA" | translate }}
          </h2>
          <div class="contact__social-media-box flex">
            <img
              src="assets/icons/icones/Group 2380.svg"
              alt="youtube"
              class="social-logo"
            />

            <img
              src="assets/icons/icones/Group 2382.svg"
              alt="instagram"
              class="social-logo"
            />

            <img
              src="assets/icons/icones/Group 2381.svg"
              alt="twitter"
              class="social-logo"
            />

            <img
              src="assets/icons/icones/Group 2383.svg"
              alt="facebook"
              class="social-logo"
            />
          </div>
        </div>
      </div>

      <div class="contact__img">
        <img
          src="assets/imgs/contact.png"
          alt="Communication"
          class="contact__img--big"
        />
      </div>
    </div>
  </div>
</div>
