@import "utilities/mixins";
@import "utilities/variables";

:host {
  .header {
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $color-secondary-tint;
    @include shadow-2;

    @include respond(desktop) {
      border-bottom: 2px solid $color-secondary-shade;
      box-shadow: none;
      z-index: 50;
    }

    .main-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 100%;
    }

    &__toggle {
      position: absolute;
      left: 3.7rem;
      @include respond(desktop) {
        display: none;
      }
    }

    .logo {
      margin-left: 3rem;
      cursor: pointer;
    }
    .cta {
      row-gap: 1.6rem;
      @include respond(desktop) {
        width: 25%;
        flex-direction: row;
        column-gap: 1.6rem;
      }
      > img {
        cursor: pointer;
      }
      &-logged {
        margin: 20px 0;
        margin-bottom: 50px;
        gap: 10px;
        > div {
          font-size: 16px;
          font-weight: bold;
          color: $color-dark-shade;
        }
      }
    }

    &__return {
      position: absolute;
      right: 3.7rem;
      transform: rotate(-90deg);

      @include respond(desktop) {
        display: none;
      }
    }
  }

  .nav {
    &__item {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
        @include respond(desktop) {
          margin-bottom: 0;
          margin-left: 3rem;
        }
      }
    }

    &__link {
      font-size: $font-size-16;
      line-height: 3rem;
      color: $color-dark-shade;
      display: flex;
      align-items: center;
      @include respond(desktop) {
        font-size: $font-size-12;
        line-height: 2.3rem;
      }

      &.active {
        color: $color-primary;
        .nav__icon::before {
          color: $color-primary;
        }
      }
    }

    &__icon {
      height: 1.4rem;
      margin-left: 1.2rem;
      &::before {
        color: $color-dark-shade;
      }
      @include respond(desktop) {
        height: 1.3rem;
        margin-left: 6px;
      }
    }
  }

  .nav-mob {
    display: none;

    &.display {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $color-secondary-tint;
      z-index: 100;
    }
  }

  .nav-web {
    display: none;

    @include respond(desktop) {
      display: flex;
      width: 100%;
    }
  }

  .pages {
    &__popup {
      position: fixed;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      @include respond(desktop) {
        background-color: rgba($color-dark, 0.5);
        top: 0;
      }

      app-signin,
      app-forgot-password {
        @include respond(desktop) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 200;
        }
      }
    }

    &__bg {
      @include respond(desktop) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
      }
    }
  }
}
