.u-margin-bottom-10 {
  margin-bottom: 1rem !important;
}
.u-margin-bottom-20 {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-30 {
  margin-bottom: 3rem !important;
}
.u-margin-bottom-40 {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-50 {
  margin-bottom: 5rem !important;
}
.u-margin-bottom-60 {
  margin-bottom: 6rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
