<div class="signin">
  <div class="signin__card">
    <div class="signin__header flex items-center justify-between">
      <h2 class="signin__auth--header auth-main-heading">
        {{ "AUTH.SIGNIN.TITLE" | translate }}
      </h2>

      <i
        class="icon-clear_black_24dp signin__close pointer"
        (click)="onClose($event)"
      ></i>
    </div>

    <div class="signin__form">
      <form [formGroup]="user_form" (ngSubmit)="login()">
        <div class="form-control">
          <i class="icon-email_black_24dp-3 primary-input-img"></i>
          <input
            class="primary-input"
            type="email"
            required
            placeholder="{{ 'INPUTS.MAIL' | translate }}"
            formControlName="UserName"
          />
        </div>
        <div
          class="app-messages error"
          *ngIf="
            submitted && user_form.controls['UserName'].hasError('required')
          "
        >
          {{ "Validation.Required" | translate }}
        </div>
        <div
          class="app-messages error"
          *ngIf="submitted && user_form.controls['UserName']?.invalid"
        >
          {{ "Validation.Pattern" | translate }}
        </div>
        <div class="form-control">
          <i class="icon-lock_black_24dp primary-input-img"></i>

          <i
            class="primary-input-img-2 pointer"
            [ngClass]="
              isPasswordShown
                ? 'icon-visibility_off_black_24dp'
                : 'icon-visibility_black_24dp'
            "
            (click)="isPasswordShown = !isPasswordShown"
          ></i>
          <input
            class="primary-input"
            type="password"
            required
            placeholder="{{ 'INPUTS.PASS' | translate }}"
            formControlName="Password"
          />
        </div>
        <div
          class="app-messages error"
          *ngIf="
            submitted && user_form.controls['Password'].hasError('required')
          "
        >
          {{ "Validation.Required" | translate }}
        </div>
        <p
          class="app-messages error"
          *ngIf="
            (httpService.state$ | async)?.success &&
            !(httpService.state$ | async)?.data?.success &&
            submitted
          "
        >
          {{ "Validation.IncorrectData" | translate }}
        </p>
        <div class="signin__under-form flex items-center justify-between">
          <a
            routerLink="/signup"
            class="auth-heading-2 pointer"
            (click)="onClose($event)"
          >
            {{ "AUTH.SIGNIN.REGISTER" | translate }}
          </a>
          <a
            class="pointer auth-heading-2 pointer"
            (click)="onOpenForgot($event)"
          >
            {{ "AUTH.SIGNIN.FORGET" | translate }}
          </a>
        </div>
        <button
          class="pointer signin__btn btn btn-primary btn-sm"
          type="submit"
        >
          {{ "AUTH.SIGNIN.TITLE" | translate }}
        </button>
      </form>
    </div>

    <h3 class="signin__other auth-heading-1">
      <span>{{ "AUTH.SIGNIN.OR" | translate }}</span>
    </h3>

    <div class="signin__social-media flex flex-col">
      <div class="signin__social-media--item">
        <button class="btn btn-secondary-tint-border btn-sm">
          Google

          <img
            src="assets/icons/icones/7123025_logo_google_g_icon.svg"
            alt="Google"
            class="signin__social-media--icon"
          />
        </button>
      </div>

      <div class="signin__social-media--item flex items-center justify-between">
        <button class="btn btn-secondary-tint-border btn-sm">
          Facebook<img
            src="assets/icons/icones/5296499_fb_facebook_facebook logo_icon.svg"
            alt="Facebook"
            class="signin__social-media--icon"
          />
        </button>
        <button class="btn btn-secondary-tint-border btn-sm">
          Appel<img
            src="assets/icons/icones/104490_apple_icon.svg"
            alt="Appel"
            class="signin__social-media--icon"
          />
        </button>
      </div>
    </div>

    <div class="signin__footer">
      <p class="auth-text">
        {{ "AUTH.SIGNIN.FOOTER1" | translate }}
        <span class="primary"> {{ "AUTH.SIGNIN.HIGHLIGHT" | translate }}</span
        >{{ "AUTH.SIGNIN.FOOTER2" | translate }}
      </p>
    </div>
  </div>
</div>
