@font-face {
  font-family: "icomoon";
  src: url("../icon/icomoon.eot?av7o5j");
  src: url("../icon/icomoon.eot?av7o5j#iefix") format("embedded-opentype"),
    url("../icon/icomoon.ttf?av7o5j") format("truetype"),
    url("../icon/icomoon.woff?av7o5j") format("woff"),
    url("../icon/icomoon.svg?av7o5j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple_icon:before {
  content: "\e900";
}
.icon-fb_facebook_facebook-logo_icon .path1:before {
  content: "\e901";
}
.icon-fb_facebook_facebook-logo_icon .path2:before {
  content: "\e902";
  margin-left: -1em;
}
.icon-logo_google_g_icon .path1:before {
  content: "\e903";
}
.icon-logo_google_g_icon .path2:before {
  content: "\e904";
  margin-left: -0.98046875em;
}
.icon-logo_google_g_icon .path3:before {
  content: "\e905";
  margin-left: -0.98046875em;
}
.icon-logo_google_g_icon .path4:before {
  content: "\e906";
  margin-left: -0.98046875em;
}
.icon-ac_unit_black_24dp:before {
  content: "\e907";
}
.icon-add_black_24dp:before {
  content: "\e908";
}
.icon-align-left:before {
  content: "\e909";
}
.icon-arrow-left:before {
  content: "\e90a";
}
.icon-arrow-right:before {
  content: "\e90b";
}
.icon-balcony:before {
  content: "\e90c";
}
.icon-bed:before {
  content: "\e90d";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-call_black_24dp:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-check_circle_black_24dp:before {
  content: "\e911";
}
.icon-check_circle_outline_black_24dp:before {
  content: "\e912";
}
.icon-chevron_left_black_24dp:before {
  content: "\e913";
}
.icon-chevron-down:before {
  content: "\e914";
}
.icon-eye-off:before {
  content: "\e915";
}
.icon-favorite_black_24dp:before {
  content: "\e916";
}
.icon-filter:before {
  content: "\e917";
}
.icon-Group-12:before {
  content: "\e918";
}
.icon-home_black_24dp:before {
  content: "\e919";
}
.icon-king_bed_black_24dp:before {
  content: "\e91a";
}
.icon-local_parking_black_24dp:before {
  content: "\e91b";
}
.icon-location .path1:before {
  content: "\e91c";
}
.icon-location .path2:before {
  content: "\e91d";
  margin-left: -1em;
}
.icon-lock:before {
  content: "\e91e";
}
.icon-mail-2:before {
  content: "\e91f";
}
.icon-mail:before {
  content: "\e920";
}
.icon-map-pin:before {
  content: "\e921";
}
.icon-navigate_next_black_24dp:before {
  content: "\e922";
}
.icon-phone-1:before {
  content: "\e923";
}
.icon-remove_black_24dp:before {
  content: "\e924";
}
.icon-room_service_black_24dp:before {
  content: "\e925";
}
.icon-rss_feed_black_24dp:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e927";
}
.icon-shower_black_24dp:before {
  content: "\e928";
}
.icon-star:before {
  content: "\e929";
}
.icon-user-1:before {
  content: "\e92a";
}
.icon-wifi_black_24dp:before {
  content: "\e92b";
}
.icon-x:before {
  content: "\e92c";
}
.icon-XMLID_95:before {
  content: "\e92d";
}
